* {
  line-height: 1.2;
  /* color: white;
  background-color: black; */
}

header {
  color: green;
  background-color: orange; 

  position: sticky; top: 0;
}

h1 {
  text-align: left;
  font-size: 3vw;
  padding-left: 25px;
}

h3 {
  color: white;
  background-color: black;
  padding-left: 25px;
  text-align: left;
  font-size: 2vw;
}

p {
  margin-top: 10px;
  font-size: 1.4vw;
  padding-left: 25px;
}

h2 {
  padding-left: 25px;
}

ul, ol {
  margin: 2vw;
  list-style: normal;
  font-size: 1.5vw;
}

ul li {
  list-style: disc outside none;
  display: list-item;
  margin-left: 1em;
  }

  ol {
    align: center;
  }

ol li {
  display: number;
}

section.education {
  color: yellow;
  background-color: rgb(22, 148, 194);
}

section.career {
  color: orange;
  background-color: purple;
  

}

section.goals {
  color: red;
  background-color: lightgreen;
}

section.artists {
  color: black;
  background-color: yellowgreen;
}